In [1]:
import openpyxl as xl
from openpyxl.workbook import workbook as wb
from openpyxl.utils.dataframe import dataframe_to_rows
import os
import pandas as pd

In [2]:
# load excel file

path_to_file = os.path.join(os.getcwd(), 'week_05_homework_XLSX_openpyxl.xlsx')
wb = xl.load_workbook(path_to_file, data_only= True)

In [3]:
# assign worksheets 

main = wb['main']
another = wb['another']

In [4]:
# create output file

output_file = os.path.join(os.getcwd(), 'output_file.xlsx')
wb2 = xl.Workbook()
ws = wb2.active
ws.title = "Output"
output = wb2["Output"]
wb2.save(output_file)

In [5]:
# function to extract column names

def col_names(x):
    columns = []
    for col in x.iter_cols(max_row= 1):
        for cell in col:
            headers = cell.value
            columns.append(headers)
    return columns

In [6]:
# function to create dataframes of each worksheets

def create_df(y):
    df = pd.DataFrame(y.values)
    df.columns = col_names(y)
    df = df[1:]
    return df

In [7]:
# create dataframes of each worksheets

df1 = create_df(main)
df2 = create_df(another)

In [8]:
# reset the column name for "another" worksheet

df2.rename(columns = {"p_id":"patient id"}, inplace = True)

In [9]:
# merge the dataframes

merged_df = pd.merge(df1, df2, how = "outer", on ="patient id")
merged_df

    patient id  age smoking smart asdf min im  nam   kf   ave
0      95909.0   51       1    10    8   17.5    5   20  12.5
1      10369.0   49       1     8    8   16.5    6   17  11.5
2      35101.0   56       3    12   24  23.75  NaN  NaN   NaN
3      25192.0   47       3    12   24   21.5  NaN  NaN   NaN
4      75658.0   50       3    10   24  21.75    6   15  10.5
5      25765.0   55       2    12   16  21.25    4   10     7
6      57464.0   52       1    11    8     18  NaN  NaN   NaN
7      14530.0   50       2     8   16     19    5   10   7.5
8      21888.0   52       2     9   16  19.75    5   20  12.5
9      43631.0   53       2     8   16  19.75    4   14     9
10     14528.0   55       1     8    8     18  NaN  NaN   NaN
11     70171.0   58       3    10   24  23.75    4   15   9.5
12     14654.0   58       2    10   16   21.5  NaN  NaN   NaN
13     81574.0   50       3     9   24   21.5    4   12     8
14     67203.0   52       1    12    8  18.25    5    8   6.5
15     19792.0   48       2     9   16  18.75    6    8     7
16     95847.0   56       2     9   16  20.75  NaN  NaN   NaN
17     21922.0   52       3    10   24  22.25    5   15    10
18     49434.0   48       1    10    8  16.75    5   17    11
19     64334.0   50       2    11   16  19.75    6    9   7.5
20     11988.0   49       2    12   16  19.75  NaN  NaN   NaN
21     51090.0   46       3     9   24   20.5    6   11   8.5
22     72970.0   49       3    10   24   21.5    6   10     8
23     57054.0   50       1    12    8  17.75  NaN  NaN   NaN
24      1111.0  NaN     NaN   NaN  NaN    NaN    6   13   9.5
25      4323.0  NaN     NaN   NaN  NaN    NaN    4   20    12
26       532.0  NaN     NaN   NaN  NaN    NaN    6   16    11
27     66435.0  NaN     NaN   NaN  NaN    NaN    6   15  10.5
28        64.0  NaN     NaN   NaN  NaN    NaN    5   19    12
29       775.0  NaN     NaN   NaN  NaN    NaN    6    9   7.5
30        34.0  NaN     NaN   NaN  NaN    NaN    4   17  10.5

In [10]:
# export the results to new Excel file

for r in dataframe_to_rows(merged_df, index = False, header = True):
    output.append(r)
wb2.save(output_file)